<li id="post-<%=post.id %>">
  <% unless current_user.nil? %>
    <% user = User.find(post.user_id) %>
    <span class="user_id"><%= link_to user.name, user %></span>
  <% end %>
  <span class="content"><%= post.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </span>
  <span>
    <% if logged_in? %>
      <% if current_user.admin? || current_user?(user) %>
        | <%= link_to "delete", post, method: :delete,
                                      data: { confirm: "You sure?" } %>
        | <%= link_to "edit", edit_post_url(post) %>
      <% end %>
    <% end %>
  </span>
</li>
